MONGODB_URL=mongodb+srv://user:pass@cluster.mongodb.net/?appName=Cluster0
PORT=3000
FRONTEND_URL=http://docs.project.in
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
CSRF_SECRET=your_csrf_secret
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_DEV_BACKEND_URL=http://docs.project.in
